<h1 class="cover-heading ng-scope">Etat du WAF</h1>
<hr>
<div ng-controller="EtatCtrl">

  <div style="height: 100%">
    <div style="width:50%" class="pull-left">
      <div class="row">
        <h4 class="col-md-3">Nginx &nbsp;&nbsp;&nbsp;&nbsp;<span ng-if="status.nginxStatus"
                                                                 class="label label-success ">Allumé</span><span
          ng-if="!status.nginxStatus" class="label label-danger ">Eteint</span></h4>
        <button ng-if="!status.nginxStatus" ng-click="execute('NGINX_START')" class="btn btn-primary "><span
          class="glyphicon glyphicon-play"></span> Démarrer
        </button>
        <button ng-if="status.nginxStatus" ng-click="execute('NGINX_STOP')" class="btn btn-primary "><span
          class="glyphicon glyphicon-stop"></span> Eteindre
        </button>
        <button ng-click="execute('NGINX_RESTART')" class="btn btn-primary "><span
          class="glyphicon glyphicon-repeat"></span> Redémarrer
        </button>
        <button ng-click="execute('NGINX_TEST')" class="btn btn-primary "><span
          class="glyphicon glyphicon-wrench"></span> Config test
        </button>
      </div>
      <div class="row">
        <h4 class="col-md-3">Haproxy <span ng-if="status.haproxyStatus" class="label label-success ">Allumé</span><span
          ng-if="!status.haproxyStatus" class="label label-danger ">Eteint</span></h4>
        <button ng-if="!status.haproxyStatus" ng-click="execute('HAPROXY_START')" class="btn btn-primary "><span
          class="glyphicon glyphicon-play"></span> Démarrer
        </button>
        <button ng-if="status.haproxyStatus" ng-click="execute('HAPROXY_STOP')" class="btn btn-primary "><span
          class="glyphicon glyphicon-stop"></span> Eteindre
        </button>
        <button ng-click="execute('HAPROXY_RESTART')" class="btn btn-primary "><span
          class="glyphicon glyphicon-repeat"></span> Redémarrer
        </button>
        <button ng-click="execute('HAPROXY_TEST')" class="btn btn-primary "><span
          class="glyphicon glyphicon-wrench"></span> Config test
        </button>
      </div>
    </div>
    <div style="width:50%;height:100%;" class="pull-right">
      <div ng-controller="alertCtrl">
        <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
      </div>
    </div>
  </div>
</div>

