<h1 class="cover-heading ng-scope">Règlages</h1>

<div ng-controller="SettingsController">
  <hr>
  <div>
    <label>Chemin de configuration nginx:</label>

    <div ng-hide="editorEnabled.nginxConfDir" class="relpos">
      <pre>{{options.nginxConfDir}}</pre>
      <div class="inplacepre">
        <a class="btn btn-success btn-sm" ng-click="enableEditor('nginxConfDir')"><span
          class="glyphicon glyphicon-pencil"></span></a>
      </div>
    </div>
    <div ng-show="editorEnabled.nginxConfDir" class="relpos">
      <input class="form-control" ng-model="editable.nginxConfDir">

      <div class="inplaceinput">
        <a class="btn btn-primary btn-sm" ng-click="save('nginxConfDir')"><span
          class="glyphicon glyphicon-floppy-disk"></span></a>
        <a class="btn btn-default btn-sm" ng-click="disableEditor('nginxConfDir')"><span
          class="glyphicon glyphicon-remove"></span></a>
      </div>
    </div>
  </div>
  <div>
    <label>Chemin de configuration haproxy:</label>

    <div ng-hide="editorEnabled.haproxyConfDir" class="relpos">
      <pre>{{options.haproxyConfDir}}</pre>
      <div class="inplacepre">
        <a class="btn btn-success btn-sm" ng-click="enableEditor('haproxyConfDir')"><span
          class="glyphicon glyphicon-pencil"></span></a>
      </div>
    </div>
    <div ng-show="editorEnabled.haproxyConfDir" class="relpos">
      <input class="form-control" ng-model="editable.haproxyConfDir">

      <div class="inplaceinput">
        <a class="btn btn-primary btn-sm" ng-click="save('haproxyConfDir')"><span
          class="glyphicon glyphicon-floppy-disk"></span></a>
        <a class="btn btn-default btn-sm" ng-click="disableEditor('haproxyConfDir')"><span
          class="glyphicon glyphicon-remove"></span></a>
      </div>
    </div>
  </div>
  <div>
    <label>Chemin de configuration naxsi:</label>

    <div ng-hide="editorEnabled.naxsiConfDir" class="relpos">
      <pre>{{options.naxsiConfDir}}</pre>
      <div class="inplacepre">
        <a class="btn btn-success btn-sm" ng-click="enableEditor('naxsiConfDir')"><span
          class="glyphicon glyphicon-pencil"></span></a>
      </div>
    </div>
    <div ng-show="editorEnabled.naxsiConfDir" class="relpos">
      <input class="form-control" ng-model="editable.naxsiConfDir">

      <div class="inplaceinput">
        <a class="btn btn-primary btn-sm" ng-click="save('naxsiConfDir')"><span
          class="glyphicon glyphicon-floppy-disk"></span></a>
        <a class="btn btn-default btn-sm" ng-click="disableEditor('naxsiConfDir')"><span
          class="glyphicon glyphicon-remove"></span></a>
      </div>
    </div>
  </div>
  <div>
    <label>Chemin de configuration des sites:</label>

    <div ng-hide="editorEnabled.sitesEnabledDir" class="relpos">
      <pre>{{options.sitesEnabledDir}}</pre>
      <div class="inplacepre">
        <a class="btn btn-success btn-sm" ng-click="enableEditor('sitesEnabledDir')"><span
          class="glyphicon glyphicon-pencil"></span></a>
      </div>
    </div>
    <div ng-show="editorEnabled.sitesEnabledDir" class="relpos">
      <input class="form-control" ng-model="editable.sitesEnabledDir">

      <div class="inplaceinput">
        <a class="btn btn-primary btn-sm" ng-click="save('sitesEnabledDir')"><span
          class="glyphicon glyphicon-floppy-disk"></span></a>
        <a class="btn btn-default btn-sm" ng-click="disableEditor('sitesEnabledDir')"><span
          class="glyphicon glyphicon-remove"></span></a>
      </div>
    </div>
  </div>
  <div>
    <label>Chemin de configuration des certificats ssl:</label>

    <div ng-hide="editorEnabled.siteCertDir" class="relpos">
      <pre>{{options.siteCertDir}}</pre>
      <div class="inplacepre">
        <a class="btn btn-success btn-sm" ng-click="enableEditor('siteCertDir')"><span
          class="glyphicon glyphicon-pencil"></span></a>
      </div>
    </div>
    <div ng-show="editorEnabled.siteCertDir" class="relpos">
      <input class="form-control" ng-model="editable.siteCertDir">

      <div class="inplaceinput">
        <a class="btn btn-primary btn-sm" ng-click="save('siteCertDir')"><span
          class="glyphicon glyphicon-floppy-disk"></span></a>
        <a class="btn btn-default btn-sm" ng-click="disableEditor('siteCertDir')"><span
          class="glyphicon glyphicon-remove"></span></a>
      </div>
    </div>
  </div>
  <div>
    <label>Règles de white list:</label>

    <div  class="relpos">
      <pre class="pre-scrollable" style="height: 150px">

        <div ng-repeat="wl in options.whitelistRules track by $index"><span><label>ID:</label>{{wl.id}}</span>&nbsp;&nbsp;&nbsp;&nbsp;<span><label>Description:</label>{{wl.desc}}</span><a
          ng-click="removeWL($index)" class="btn btn-default btn-xs pull-right"><span class="glyphicon glyphicon-trash"></span></a>
             </div>

      </pre>
      <div >
        <a ng-hide="editorEnabled.whitelistRules" class="btn btn-primary btn-sm" ng-click="enableEditor('whitelistRules')"><span
          class="glyphicon glyphicon-plus"></span> Ajouter une règle</a>
        <div ng-show="editorEnabled.whitelistRules" class="relpos">
          <div class="row">
          <div class="col-md-3">
          <input class="form-control" type="text" placeholder="Saisir l'identifiant de la règle" ng-model="reg.id">
          </div>
          <div class="col-md-8">
            <input class="form-control" type="text" placeholder="Saisir la description de la règle" ng-model="reg.desc">
          </div>
          </div>
          <div class="inplaceinput">
            <a class="btn btn-primary btn-sm" ng-click="savewl()"><span
              class="glyphicon glyphicon-floppy-disk"></span></a>
            <a class="btn btn-default btn-sm" ng-click="disableEditor('whitelistRules')"><span
              class="glyphicon glyphicon-remove"></span></a>
          </div>
        </div>
      </div>

    </div>
  </div>
  <hr>
  <button type="button" class="btn btn-success btn-lg" ng-click="saveconf()" ng-disabled="isdsbl" ><span
    class="glyphicon glyphicon-floppy-disk"></span>Enregistrer les modifications</button>
  <hr>
</div>
