server {
#if($ishttps)
listen $port ssl;
#else
listen $port
#end
server_name $server_name;
set $naxsi_extensive_log 1;
proxy_intercept_errors on;
access_log  /var/log/nginx/access_naxsi.log;
error_log  /var/log/nginx/error_naxsi.log;
#if($ishttps)
ssl_certificate      ${settings.siteCertDir}cert_${server_name}.pem;
ssl_certificate_key  ${settings.siteCertDir}key_${server_name}.key;

ssl_session_cache    shared:SSL:1m;
ssl_session_timeout  5m;

ssl_ciphers  HIGH:!aNULL:!MD5;
ssl_prefer_server_ciphers  on;
#end
location / {
include ${settings.naxsiConfDir}naxsi_${server_name}.rules;
include ${settings.nginxConfDir}conf.d/proxy.conf;
proxy_pass http://${ip_address}/; #adresse IP du site
}
location /RequestDenied {
return 500;
}
error_page   500 502 503 504  /${server_name}_erreur.html;
location = /${server_name}_erreur.html {
root   ${settings.nginxConfDir}html;
}
}
