.carousel,.pagination,.panel-title a,.sortable,th.head .nav{cursor:pointer}.sortable:after{content:url(data:image/gif;base64,R0lGODlhCwALAJEAAAAAAP///xUVFf///yH5BAEAAAMALAAAAAALAAsAAAIUnC2nKLnT4or00PvyrQwrPzUZshQAOw==);padding-left:1em}.st-sort-ascent:after{content:'\25B2'}.st-sort-descent:after{content:'\25BC'}
.tdflow {
  white-space:nowrap;
  width:12em;
  overflow:hidden;
  text-overflow:ellipsis;
}
.modal-backdrop {
  bottom:0;
 }
textarea {
 /* resize: vertical;*/
}
.badge{
  background-color: lightcoral;
}

.right-panel {
  float: left;
  margin-left: 5px;
  margin-top: 7px;
}

.right-panel span:first-child {
  font-size: 16px;
}

.right-panel span:last-child {
  display: block;
  font-size: 14px;
  color: gray;
}
.bootstrap .tags {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.bootstrap .tags.focused {
  border-color: #66afe9;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(102,175,233,0.6);
}

.bootstrap .tags .tag-item {
  background: #428bca;
  border: 1px solid #357ebd;
  border-radius: 4px;
  color: #fff;
}

.bootstrap .tags .tag-item.selected {
  background: #d9534f;
  border: 1px solid #d43f3a;
  border-radius: 4px;
  color: #fff;
}

.bootstrap .tags .tag-item button {
  background: transparent;
  color: #000;
  opacity: .4;
}

.bootstrap .autocomplete {
  border-radius: 4px;
}

.bootstrap .autocomplete .suggestion-item.selected {
  color: #262626;
  background-color: #e9e9e9;
}

.bootstrap .autocomplete .suggestion-item em {
  font-weight: normal;
  background-color: #ffff00;
}

.bootstrap .autocomplete .suggestion-item.selected em {
  color: #262626;
  background-color: #ffff00;
}
.highlightTextarea{
  width: 100% !important;
}
.highlightTextarea > .container{
  width: 100% !important;
}
.relpos{
  position: relative;
}
.inplacepre{
  position: absolute;right: 4px;top:4px
}
.inplaceinput{
  position: absolute;right: 4px;top:2px
}
.modifypre{
  position: absolute;left: 4px;bottom:2px

}
.specialtable{
  table-layout:fixed;
  overflow:hidden;
  white-space: nowrap;
}
.glyphicon{
  margin: 2px;
}
